---
import type { Translations } from "../i18n/en";

export interface Props {
    t: Translations;
}

const { t } = Astro.props;
---

<section id="About" class="relative">
    <div class="mb-8">
        <span
            class="inline-block bg-linear-to-br from-accent/80 to-accent/50 text-contrast py-2 px-6 rounded-4xl text-sm font-semibold tracking-wider mb-4"
        >
            {t.about.title}
        </span>
        <h2 class="text-3xl sm:text-4xl font-bold leading-10 m-0">
            {t.about.header}
        </h2>
    </div>

    <div class="">
        <p class="text-lg leading-7 text-default/80 mb-6">
            {t.about.description[0]}
        </p>
        <p class="text-lg leading-7 text-default/80 mb-6">
            {t.about.description[1]}
        </p>
        <p class="text-lg leading-7 text-default/80 mb-0">
            {t.about.description[2]}
        </p>
    </div>
</section>
