---
import { Image } from "astro:assets";
import Icon from "./icon.astro";
import TypedText from "../components/typedtext.jsx";

import photo from "../assets/images/photo.jpg";
import type { Translations } from "../i18n/en";

const socialLinks = [
    {
        href: "https://github.com/YairJeri",
        label: "Github",
        icon: "/github.svg",
    },
    { href: "#", label: "Linkedin", icon: "/linkedin.svg" },
];

export interface Props {
    t: Translations;
}

const { t } = Astro.props;
---

<section
    id="Home"
    class="min-h-screen relative overflow-hidden flex items-center w-full"
>
    <div class="relative w-full z-10 mt-32">
        <div class="flex flex-row items-center justify-around w-full flex-wrap">
            <div class="text-center lg:text-left">
                <h1
                    class="text-5xl md:text-6xl lg:text-7xl font-bold leading-[1.1] mb-4 text-heading"
                >
                    {t.home.title[0]}
                    <span
                        class="text-accent relative after:absolute after:-bottom-1 after:left-0 after:w-full after:h-1 after:bg-linear-to-t after:from-accent after:to-accent/50"
                    >
                        {t.home.title[1]}</span
                    >
                </h1>
                <h2 class="text-2xl md:text-3xl text-heading mt-8 mx-0 mb-3">
                    Yair Jeri
                </h2>
                <p class="text-2xl mb-5 text-default">
                    <span> {t.home.prev} </span>
                    <TypedText
                        specialization={t.home.specialization}
                        client:load
                    />
                </p>
                <p
                    class="text-base md:text-xl leading-[1.6] text-default/80 mb-10 max-w-[500px] mx-auto lg:mx-0"
                >
                    {t.home.about}
                </p>

                <div class="flex flex-wrap gap-5 w-fit mb-10 mx-auto lg:mx-0">
                    <a
                        href="#Portfolio"
                        class="py-3 px-6 text-sm md:py-4 md:px-8 md:text-lg font-semibold rounded-4xl border-2 hover:border-transparent duration-300 ease-in bg-accent text-contrast border-accent hover:bg-neutral-900 hover:-translate-y-0.5 hover:text-accent"
                    >
                        {t.home.viewProjects}
                    </a>
                    <a
                        href="#Contact"
                        class="py-3 px-6 text-sm md:py-4 md:px-8 md:text-lg font-semibold rounded-4xl border-2 duration-300 ease-in bg-transparent text-accent border-accent hover:bg-accent hover:text-contrast hover:-translate-y-0.5"
                    >
                        {t.home.contact}
                    </a>
                </div>

                <div class="flex gap-5 mx-auto w-fit lg:mx-0">
                    {
                        socialLinks.map((item, index) => (
                            <a
                                href={item.href}
                                target="_blank"
                                class="group flex items-center
                                justify-center w-12 h-12 my-0 mx-0.5 text-lg
                                 text-default/60 rounded-4xl bg-surface duration-300
                                 hover:bg-accent hover:-translate-y-1"
                            >
                                <Icon
                                    src={item.icon}
                                    class="w-8 h-8 group-hover:text-contrast"
                                />
                            </a>
                        ))
                    }
                </div>
            </div>
            <div
                class="flex items-center justify-center lg:min-w-80 lg:max-w-[600px] lg:w-1/3 lg:aspect-square"
            >
                <div
                    class="relative w-72 h-72 md:w-80 md:h-80 lg:w-full lg:h-full"
                >
                    <div
                        class="absolute inset-4 bg-accent/10 rounded-4xl z-0 overflow-hidden"
                    >
                        <Image
                            src={photo}
                            alt="Photo of me"
                            width="720"
                            height="720"
                            class="relative w-full h-full object-cover rounded-4xl z-10 transform scale-120"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
