---
import type { Translations } from "../i18n/en";
import { Icon } from "astro-icon/components";

export interface Props {
    t: Translations;
}

const { t } = Astro.props;
const stats = [
    {
        value: 30,
        label: t.stats.technologies,
        color: "amber-600",
        icon: "tecnology",
    },
    {
        value: 5,
        label: t.stats.personalProjects,
        color: "cyan-500",
        icon: "project",
    },
    {
        value: 1000000,
        label: t.stats.potential,
        color: "lime-500",
        icon: "brain",
        infinite: true,
    },
];

const colorClasses: Record<string, { bg: string; text: string }> = {
    "amber-600": { bg: "bg-amber-600/40", text: "text-amber-600" },
    "cyan-500": { bg: "bg-cyan-500/40", text: "text-cyan-500" },
    "lime-500": { bg: "bg-lime-500/40", text: "text-lime-500" },
};
---

<section id="stats" class="relative flex items-center w-full">
    <div class="w-full">
        <div class="content-center justify-center">
            <div class="flex flex-wrap justify-center gap-6">
                {
                    stats.map((stat, i) => (
                        <div class="group bg-linear-to-br from-surface/95 to-surface rounded-2xl py-10 px-5 text-center relative duration-300 ease-in overflow-hidden hover:-translate-y-5 min-w-60 flex-1">
                            <div class="relative w-24 h-24 flex items-center justify-center mt-0 mx-auto mb-5 group-hover:scale-110 duration-300">
                                <div
                                    class={`${colorClasses[stat.color].bg} absolute w-28 h-28 rounded-full animate-pulse`}
                                />
                                <div
                                    class={`${colorClasses[stat.color].text} absolute w-20 h-20 bg-surface/50 rounded-full flex items-center justify-center z-10 overflow-hidden`}
                                >
                                    <Icon
                                        name={stat.icon}
                                        size={64}
                                        class={"animate-wiggle"}
                                    />
                                </div>
                            </div>

                            <span
                                class={`text-5xl font-bold mb-2.5 font-heading ${colorClasses[stat.color].text}`}
                            >
                                <div
                                    class="counter h-12 w-full relative"
                                    data-value={stat.value}
                                    data-infinite={
                                        stat.infinite ? "true" : "false"
                                    }
                                />
                            </span>
                            <p class="text-default text-base m-0 pt-4 font-medium font-heading opacity-80">
                                {stat.label}
                            </p>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>

<script>
    const counters = document.querySelectorAll<HTMLElement>(".counter");
    const observer = new IntersectionObserver(
        (entries, observer) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    const counter = entry.target as HTMLElement;
                    console.log(counter.dataset);
                    const value = counter.dataset.value;
                    const infinite = counter.dataset.infinite === "true";

                    counter.style.setProperty("--num", value!);

                    if (infinite) {
                        counter.classList.add("infinite");
                    } else {
                        counter.classList.remove("infinite");
                    }

                    observer.unobserve(counter);
                }
            });
        },
        { threshold: 0.3 },
    );

    counters.forEach((counter) => {
        observer.observe(counter);
    });
</script>

<style>
    @property --num {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    .counter {
        transition: --num 5s ease-out;
        counter-reset: num var(--num);
    }

    .counter::after {
        content: counter(num) "+";
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 5s ease-out;
        opacity: 1;
    }

    .counter::before {
        content: "";
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 5s ease-out;
        opacity: 0;
    }

    .counter.infinite::after {
        content: counter(num);
        opacity: 0;
    }

    .counter.infinite::before {
        content: "∞";
        opacity: 1;
    }
</style>
